name: Update Calendar Events

on:
  schedule:
    - cron: '0 0 * * *' # run daily at 00:00
  workflow_dispatch: # manual trigger

permissions:
  contents: write

jobs:
  update-events:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v2
      
      - name: Install dependencies
        run: uv sync
      
      - name: Fetch events from website
        run: uv run main.py
      
      - name: Generate full calendar file
        run: uv run create_full_calander.py
      
      - name: Commit 
        uses: stefanzweifel/git-auto-commit-action@v7

